# Name actual env-file .env on project root
HAND_HISTORY_FOLDER_PATH="C:\\Users\\<Windows-User>\\AppData\\Local\\PokerStars\\HandHistory\\<PokerStars-User>"
TOURNAMENT_STATISTICS_FOLDER_PATH="C:\\Users\\<Windows-User>\\AppData\\Local\\PokerStars\\TournSummary\\<PokerStars-User>"
PLAYER_NAME="<PokerStars-User>"
