# Name actual env-file .env on project root.
# You must set these three (HAND_HISTORY_FOLDER_PATH, TOURN_HAND_HISTORY_FOLDER_PATH, PLAYER_NAME)
HAND_HISTORY_FOLDER_PATH="C:\Users\<Windows-User>\AppData\Local\PokerStars\HandHistory\<PokerStars-User>"
TOURNAMENT_STATISTICS_FOLDER_PATH="C:\Users\<Windows-User>\AppData\Local\PokerStars\TournSummary\<PokerStars-User>"
PLAYER_NAME="<PokerStars-User>"

# Optional, fallback value "en-US"
LOCALIZATION="fi-Fi"