{
    "prettier.jsxSingleQuote": true,
    "prettier.singleQuote": true,
    "prettier.trailingComma": "none",
    "prettier.endOfLine": "auto",
    "prettier.arrowParens": "always",
    "prettier.printWidth": 100,
    "prettier.tabWidth": 2
}